#Kode{
    border: 2px solid red;
    border-radius: 8px;
    padding: 5px;
  }

#Kode{
    margin: 10px 20px 40px;
  }

#K{
    margin: 10px 20px 40px;
  }

#Kode{
    padding: 6px 15px;
  }
  
#K{
    padding: 6px 15px;
  }